<section id="about" class="py-5">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 flex-column">
        <h1 class="mb-4">
          About Me
          <hr />
        </h1>
        <p class="lead" id="description">
          I'm a FullStack developer with nearly 5 years of experience building
          web applications, mobile apps, and desktop apps. <br />
          I have a passion for creating and imporving life with technology.
        </p>
        <div id="skills">
          <p class="lead">My skills include:</p>
          <ul class="lead">
            <li>
              Front-End Technologies: HTML, CSS, JavaScript, Angular, Bootstrap
            </li>
            <li>
              Back-End Technologies: Node.js, Express.js, C#, Python,
              JavaScript, TypeScript, .NET
            </li>
            <li>
              Database Technologies: MySQL, MongoDB, SQL Server, PostgreSQL
            </li>
            <li>Mobile App Development: Flutter, Dart, Xamarin</li>
          </ul>
          <div class="row">
            <div class="col-4">
              <img
                src="../../../assets/pacmann.gif"
                alt="Profile Picture"
                class="img-fluid rounded-circle mb-3"
                id="pacman"
              />
            </div>
            <div class="col-8 d-flex">
              <div class="containerpac">
                <div class="scrolling-images">
                  <img src="../../../assets/logos/html.png" />
                  <img src="../../../assets/logos/javascript.png" />
                  <img src="../../../assets/logos/angular.png" />
                  <img src="../../../assets/logos/bootstrap.png" />
                  <img src="../../../assets/logos/express.png" />
                  <img src="../../../assets/logos/flutter.png" alt="" />
                  <img src="../../../assets/logos/mongo.png" alt="" />
                  <img src="../../../assets/logos/nodejs.png" alt="" />
                  <img src="../../../assets/logos/sql.png" alt="" />
                  <img src="../../../assets/logos/python.png" alt="" />
                  <img src="../../../assets/logos/dart.png" alt="" />
                  <img src="../../../assets/logos/css.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 flex-column">
        <div class="d-flex flex-column h-100">
          <div id="photo" class="flex-grow-1">
            <img
              src="../../../assets/me.png"
              alt="Profile Picture"
              class="img-fluid"
              id="photop"
            />
          </div>
          <a
            href="https://drive.google.com/file/d/1-YUM72yC0OBaxXRo-q4zeJYcN5t0RkVa/view?usp=drive_link"
            class="btn btn-primary btn-block mb-2"
            id="cvButton"
            target="_blank"
            >Download Resume</a
          >
          <div class="card" id="hobbies">
            <div class="card-body">
              <h4 class="card-title">Hobbies</h4>
              <p class="card-text">
                When I'm not coding, I enjoy reading, painting, going to the
                gym, and hanging out with people I love.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
