<section id="projects" class="py-5">
  <div class="container">
    <div class="row justify-content-between">
      <h1>Projects</h1>
      <hr />
      <div class="col-md-4 col-lg-4 d-flex">
        <div class="my-3 flex-fill">
          <app-projectview
            imgSrc="../../assets/nexus.png"
            title="Nexus Consulting Lab"
            description="Created for Consulting Tech Company"
            shortDescription="Technologies used: REACT, Bootstrap, Responsive"
            linkUrl="https://nxus.tech"
          ></app-projectview>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 d-flex">
        <div class="my-3 flex-fill">
          <app-projectview
            imgSrc="../../assets/adrix.png"
            title="Adriana Delgadillo"
            description="Created for Nutritionist Adriana Delgadillo"
            shortDescription="Technologies used: HTML, CSS, Bootstrap, Responsive"
            linkUrl="https://adrianadelgadillo.com"
          ></app-projectview>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 d-flex">
        <div class="my-3 flex-fill">
          <app-projectview
            imgSrc="../../assets/modern.png"
            title="ModernDesigns (currently building)"
            description="Created for a USA Interior Design Company"
            shortDescription="Technologies used: HTML, CSS, Bootstrap, Responsive, NodeJs, REST API"
            linkUrl="https://alexdelgadillosan.github.io/moderndesign/src/front/moderndesign/index.html"
          ></app-projectview>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 d-flex">
        <div class="my-3 flex-fill">
          <app-projectview
            imgSrc="../../assets/lsda.png"
            title="LSDA"
            description="Created for a Colombian Invoice Company"
            shortDescription="Technologies used: HTML, CSS, Bootstrap, JavaScript, Responsive"
            linkUrl="https://alexdelgadillosan.github.io/lsda.github.io/?#"
          ></app-projectview>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 d-flex">
        <div class="my-3 flex-fill">
          <app-projectview
            imgSrc="../../assets/v1.png"
            title="Porfolio v1"
            description="1st Version of my Personal Portfolio"
            shortDescription="Technologies used: React, Css, Bootstrap"
            linkUrl="https://alexdelgadillosan.github.io/portfoliov2/"
          ></app-projectview>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 d-flex">
        <div class="my-3 flex-fill">
          <app-projectview
            imgSrc="../../../assets/surgeonwebsite.png"
            title="Dr. Carlos Reyes Website"
            description="Created for a Plastic Surgeon"
            shortDescription="Technologies used: Angular, Bootstrap, JavaScript, Effects, Responsive"
            linkUrl="https://alexdelgadillosan.github.io/surgeonV2/"
          ></app-projectview>
        </div>
      </div>
    </div>
  </div>
</section>
