<section id="projects" class="py-5">
  <div class="container">
    <div class="row justify-content-between">
      <h1>Projects</h1>
      <hr />

      <div class="container">
        <div class="row">
          <!-- Columna 1 -->
          <div class="col-md-4">
            <div class="card h-100">
              <img
                src="../../assets/app.png"
                alt="Card image cap"
                class="card-img-top"
                style="object-fit: contain"
              />
              <div class="card-body">
                <h5 class="card-title">Mi Alcancia App</h5>
                <p class="card-text">
                  Users can check savings/transactions for their own account.
                </p>
                <p class="card-text text-muted">
                  Technologies used: React Native, REST API, MongoDB, AWS
                </p>
              </div>
            </div>
          </div>
          <!-- Columna 2 -->
          <div class="col-md-4">
            <div class="card h-100">
              <a href="https://nxus.tech" target="_blank">
                <img
                  src="../../assets/nexuss.png"
                  alt="Card image cap"
                  class="card-img-top"
                  style="object-fit: contain"
                />
              </a>
              <div class="card-body">
                <h5 class="card-title">Nexus Consulting Lab</h5>
                <p class="card-text">Landing Page</p>
                <p class="card-text text-muted">
                  Technologies used: REACT, Bootstrap
                </p>
              </div>
            </div>
          </div>
          <!-- Columna 3 -->
          <div class="col-md-4">
            <div class="card h-100">
              <img
                src="../../assets/watchface.png"
                alt="Card image cap"
                class="card-img-top"
                style="object-fit: contain"
              />
              <div class="card-body">
                <h5 class="card-title">
                  Garmin Venu 3s Watchface (To be released)
                </h5>
                <p class="card-text">
                  Inspired by Pokemon, each one changes reaching excercise goals
                </p>
                <p class="card-text text-muted">Technologies used: Monkey C</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100">
              <a href="https://adrianadelgadillo.com" target="_blank">
                <img
                  src="../../assets/adrix.png"
                  alt="Adriana Delgadillo"
                  class="card-img-top"
                  style="object-fit: contain"
                />
              </a>
              <div class="card-body">
                <h5 class="card-title">Adriana Delgadillo</h5>
                <p class="card-text">
                  Created for Nutritionist Adriana Delgadillo
                </p>
                <p class="card-text text-muted">
                  Technologies used: HTML, CSS, Bootstrap, Responsive
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 2 -->
          <div class="col-md-4">
            <div class="card h-100">
              <a
                href="https://alexdelgadillosan.github.io/moderndesign/src/front/moderndesign/index.html"
                target="_blank"
              >
                <img
                  src="../../assets/modern.png"
                  alt="ModernDesigns"
                  class="card-img-top"
                  style="object-fit: contain"
                />
              </a>
              <div class="card-body">
                <h5 class="card-title">ModernDesigns (currently building)</h5>
                <p class="card-text">
                  Created for a USA Interior Design Company
                </p>
                <p class="card-text text-muted">
                  Technologies used: HTML, CSS, Bootstrap, Responsive, NodeJs,
                  REST API
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 3 -->
          <div class="col-md-4">
            <div class="card h-100">
              <a
                href="https://alexdelgadillosan.github.io/lsda.github.io/?#"
                target="_blank"
              >
                <img
                  src="../../assets/lsda.png"
                  alt="LSDA"
                  class="card-img-top"
                  style="object-fit: contain"
                />
              </a>
              <div class="card-body">
                <h5 class="card-title">LSDA</h5>
                <p class="card-text">Created for a Colombian Invoice Company</p>
                <p class="card-text text-muted">
                  Technologies used: HTML, CSS, Bootstrap, JavaScript,
                  Responsive
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 4 -->
          <div class="col-md-4">
            <div class="card h-100">
              <a
                href="https://alexdelgadillosan.github.io/portfoliov2/"
                target="_blank"
              >
                <img
                  src="../../assets/v1.png"
                  alt="Porfolio v1"
                  class="card-img-top"
                  style="object-fit: contain"
                />
              </a>
              <div class="card-body">
                <h5 class="card-title">Porfolio v1</h5>
                <p class="card-text">1st Version of my Personal Portfolio</p>
                <p class="card-text text-muted">
                  Technologies used: React, CSS, Bootstrap
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 5 -->
          <div class="col-md-4">
            <div class="card h-100">
              <a
                href="https://alexdelgadillosan.github.io/surgeonV2/"
                target="_blank"
              >
                <img
                  src="../../../assets/surgeonwebsite.png"
                  alt="Dr. Carlos Reyes Website"
                  class="card-img-top"
                  style="object-fit: contain"
                />
              </a>
              <div class="card-body">
                <h5 class="card-title">Dr. Carlos Reyes Website</h5>
                <p class="card-text">Created for a Plastic Surgeon</p>
                <p class="card-text text-muted">
                  Technologies used: Angular, Bootstrap, JavaScript, Effects,
                  Responsive
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4 col-lg-4 d-flex">
        <div class="my-3 flex-fill">
          <app-projectview
            imgSrc="../../assets/adrix.png"
            title="Adriana Delgadillo"
            description="Created for Nutritionist Adriana Delgadillo"
            shortDescription="Technologies used: HTML, CSS, Bootstrap, Responsive"
            linkUrl="https://adrianadelgadillo.com"
          ></app-projectview>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 d-flex">
        <div class="my-3 flex-fill">
          <app-projectview
            imgSrc="../../assets/modern.png"
            title="ModernDesigns (currently building)"
            description="Created for a USA Interior Design Company"
            shortDescription="Technologies used: HTML, CSS, Bootstrap, Responsive, NodeJs, REST API"
            linkUrl="https://alexdelgadillosan.github.io/moderndesign/src/front/moderndesign/index.html"
          ></app-projectview>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 d-flex">
        <div class="my-3 flex-fill">
          <app-projectview
            imgSrc="../../assets/lsda.png"
            title="LSDA"
            description="Created for a Colombian Invoice Company"
            shortDescription="Technologies used: HTML, CSS, Bootstrap, JavaScript, Responsive"
            linkUrl="https://alexdelgadillosan.github.io/lsda.github.io/?#"
          ></app-projectview>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 d-flex">
        <div class="my-3 flex-fill">
          <app-projectview
            imgSrc="../../assets/v1.png"
            title="Porfolio v1"
            description="1st Version of my Personal Portfolio"
            shortDescription="Technologies used: React, Css, Bootstrap"
            linkUrl="https://alexdelgadillosan.github.io/portfoliov2/"
          ></app-projectview>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 d-flex">
        <div class="my-3 flex-fill">
          <app-projectview
            imgSrc="../../../assets/surgeonwebsite.png"
            title="Dr. Carlos Reyes Website"
            description="Created for a Plastic Surgeon"
            shortDescription="Technologies used: Angular, Bootstrap, JavaScript, Effects, Responsive"
            linkUrl="https://alexdelgadillosan.github.io/surgeonV2/"
          ></app-projectview>
        </div>
      </div> -->
    </div>
  </div>
</section>
