<section id="contact" class="py-5" #contact>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <h2>Contact Information</h2>
          <hr>
        </div>
      </div>
      <div class="row justify-content-around" id="contactinfo">
        <div class="col-md-2 text-center">
          <a href="tel:+52442315479" target="_blank">
            <i class="fas fa-phone fa-2x mb-1"></i>
          </a>           
            <p><a href="tel:+52442315479" id="info">+524423315479</a></p>
          </div>
          <div class="col-md-2 text-center" id="contactinfo">
            <a href="mailto:alexdelgadillo95@hotmail.com" target="_blank">
              <i class="fas fa-envelope fa-2x mb-1"></i>
            </a>
            <p><a href="mailto:alexdelgadillo95@hotmail.com">alexdelgadillo95@hotmail.com</a></p> 
            <p><a href="mailto:al3xdelgadillo@gmail.com">al3xdelgadillo@gmail.com</a></p>               
          </div>
        <div class="col-md-2 text-center">
          <a href="https://www.instagram.com/alexdelgadillo_/" target="_blank">
            <i class="fab fa-instagram fa-2x mb-1"></i>
          </a>
          <h4>Instagram</h4>
        </div>
        <div class="col-md-2 text-center">
          <a href="https://www.linkedin.com/in/alejandrodelgadillos/" target="_blank">
            <i class="fab fa-linkedin fa-2x mb-1"></i>
          </a>
          <h4>LinkedIn</h4>
        </div>
        <div class="col-md-2 text-center">
          <a href="https://github.com/alexdelgadillosan" target="_blank">
            <i class="fab fa-github fa-2x mb-1"></i>
          </a>
          <h4>Github</h4>
        </div>        
      </div>
      <div class="row justify-content-around">
        <div class="col-md-12 text-center" id="quote">
            <p>"The path from dreams to success does exist. May you have the vision to find it, the courage to get on to it, and the perseverance to follow it "
                Kalpana Chawla</p>
        </div>
        
      </div>
    </div>
  </section>
  