/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body{
    font-family: 'VT323', monospace;;
    background-color: #FAFAFA;
}
hr {
    border-color: #041A39;
    border-width: 2px;
    
  }